<%= form_for(@admin_author) do |f| %>
  <% if @admin_author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_author.errors.count, "error") %> prohibited this admin_author from being saved:</h2>

      <ul>
      <% @admin_author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
