<p id="notice"><%= notice %></p>

<h1>Listing Admin Authors</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_authors.each do |admin_author| %>
      <tr>
        <td><%= admin_author.first_name %></td>
        <td><%= admin_author.last_name %></td>
        <td><%= link_to 'Show', admin_author %></td>
        <td><%= link_to 'Edit', edit_admin_author_path(admin_author) %></td>
        <td><%= link_to 'Destroy', admin_author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Author', new_admin_author_path %>
