<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @admin_author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @admin_author.last_name %>
</p>

<%= link_to 'Edit', edit_admin_author_path(@admin_author) %> |
<%= link_to 'Back', admin_authors_path %>
